/* General styles */
.App {
  text-align: center;
  font-size: calc(10px + 1.5vmin);
  /* Responsive font size */
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 1vmin);
  /* Responsive font size */
  color: white;
}

.app-container {
  max-width: 800px;
  /* Adjusted for a wider container */
  width: 90%;
  /* Responsive width */
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  font-family: Arial, sans-serif;
}

.input-url {
  width: 100%;
  max-width: 300px;
  /* Responsive input width */
  padding: 10px;
  margin: 10px 0;
  font-size: 16px;
}

/* Button styles */
.btn-primary,
.btn-success,
.btn-download {
  padding: 10px 20px;
  font-size: 16px;
  margin: 10px 5px;
  cursor: pointer;
  border: none;
  color: #fff;
  border-radius: 5px;
}

.btn-primary {
  background-color: #007bff;
}

.btn-primary:hover {
  background-color: #0056b3;
}

.btn-success {
  background-color: #28a745;
}

.btn-success:hover {
  background-color: #218838;
}

.btn-download {
  background-color: #28a745;
}

.btn-download:hover {
  background-color: #218838;
}

/* Dropdown styles */
.dropdown {
  position: relative;
  display: inline-block;
  margin-top: 10px;
}

.dropbtn {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 5px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 5px;
}

.dropdown-content .dropdown-item {
  padding: 12px 16px;
  cursor: pointer;
}

.dropdown-content .dropdown-item:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #0056b3;
}

/* Header styles */
.header {
  background-color: #282c34;
  padding: 20px;
  color: white;
}

/* Format list styles */
.format-list {
  margin-top: 20px;
}

.format-item {
  margin-bottom: 10px;
  /* Adjust margin for spacing between items */
}

.format-item h3 {
  font-size: 1.2em;
  margin-bottom: 5px;
  /* Adjust margin for spacing below heading */
}

.format-item p {
  margin-bottom: 5px;
  /* Adjust margin for spacing between details */
}

/* Animation */
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}